services:
  backend:
    build: ./server
    container_name: backend01
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
  frontend:
    build:
      context: ./client
      args: VITE_API_URL=http:/3.36.2422.54:5000/api
      container_name: frontend01
      restart: always
      ports:
        - "5173:5173"
      depends_on:
        - backend
